<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>

    <!-- loader Start -->
    {{> loading}}

    <div class="wrapper">
        {{> slidebar}}
        {{> navbar}}
        {{{body}}}
    </div>

    {{> footer}}
    {{> script}}

</body>

</html>